.details-post-container{
    border: 2px solid gainsboro;
    margin: 0 20%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(255, 228, 196, 0.69);
}
.single-post-title-color{
    color: blueviolet;
    font-size: 20px;
    font-weight: 600;
}